{% extends 'main.html' %}
{% load static %}
{% block content %}
        <section class="about-section1">
            <div class="about-section1 pt-5">
                <div class="section-text">
                    <h1 style="font-size: 50px">About us</h1>
                </div>
            </div>
        </section>

        <!-- about page starts here -->
        <div class="container pt-5">
            <div class="container pt-5 mx-auto">
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-3 bg-light me-5 col-sm-6 list">
                        <div class="text-center pt-3">
                            <div class="p-4">
                                <i
                                    class="fa fa-3x fas fa-user-friends text-primary mb-4"
                                ></i>
                                <h5 class="mb-3">A discusion room</h5>
                                <p>
                                    where you can ask question and replay to any
                                    questions asked
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 bg-light me-5 col-sm-6 list">
                        <div class="service-item text-center pt-4">
                            <div class="p-4">
                                <i
                                    class="fa fa-3x fa-book-open text-primary mb-4"
                                ></i>
                                <h5 class="mb-3">free courses</h5>
                                <p>
                                    free courses of your interest will be
                                    provided
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 bg-light me-5 col-sm-6 list">
                        <div class="service-item text-center pt-4">
                            <div class="p-4">
                                <i
                                    class="fa fa-3x fa-chalkboard-teacher text-primary mb-4"
                                ></i>
                                <h5 class="mb-3">find best teachers</h5>
                                <p>courses by best lectures will be provided</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- about the website -->
        <section class="about-section my-5">
            <div class="container d-flex">
                <div class="row mt-2 about-img">
                    <div class="col-12 card">
                        <div class="view overlay">
                            <img
                                class="card-img-top"
                                src="{% static '/images/pexels-julia-m-cameron-4145153.jpg' %}"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
                <div class="row g-0 mx-5">
                    <div class="col-lg-12 ml-5">
                        <h1 class="mb-4">Welcome to Abogida</h1>

                        <p class="mb-4">
                            Tempor erat elitr rebum at clita. Diam dolor diam
                            ipsum sit. Aliqu diam amet diam et eos. Clita erat
                            ipsum et lorem et sit, sed stet lorem sit clita duo
                            justo magna dolore erat amet
                        </p>
                        <div class="row gy-2 gx-4 mb-4">
                            <div class="col-sm-6">
                                <p class="mb-0">
                                    <i
                                        class="fas fa-check-square text-primary me-2"
                                    ></i
                                    >free online Classes
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0">
                                    <i
                                        class="fas fa-check-square text-primary me-2"
                                    ></i
                                    >Online Classes
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0">
                                    <i
                                        class="fas fa-check-square text-primary me-2"
                                    ></i
                                    >Discussion room
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0">
                                    <i
                                        class="fas fa-check-square text-primary me-2"
                                    ></i
                                    >Best lectures
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}
