<img src="{{ profile.profile_pic.url }}" style="width: 100;">
<a href="">Edit Profile</a>
{% if profile.name %}
<h1>{{profile.name}}</h1>
{% endif %}
{% if profile.username %}
<h2>{{profile.username}}</h2>
{% endif %}
{% if profile.github_account %}
<p>{{profile.github_account}}</p>
{% endif %}
{% if profile.linkedin_account %}
<p>{{ profile.linkedin_account }}</p>
{% endif %}
{% if profile.personal_website %}
<p>{{profile.personal_website}}</p>
{% endif %}
{% if profile.twitter_account %}
<p>{{ profile.twitter_account }}</p>
{% endif %}

<h2>Rooms you are in</h2>
{% for room in profile.room_set.all %}
<a href="{% url 'room' room.id %}">{{ room.name }}</a>
<br>
{% endfor %}