     <div
     class="mx-md-5 d-sm-block col-md-8 mb-sm-5 roomList room-box p-3"
     >
     <div>


        <div class="d-flex justify-content-between m-5">
            <div>
                <h2>Discusion Room</h2>
                <p class="text-muted">{{room_set.all.count}} Rooms available</p>
            </div>
            <div class="">
                <a
                class="btn text-white p-2"
                href="{%  url 'create-room' %}"
                >
                Create Room
            </a>
        </div>
        <div class="">
                <a
                class="btn text-white p-2"
                href="{% url 'create-question' %}"
                >
                Ask Question
            </a>
        </div>
    </div>

    <!-- first  room topic  starts -->

    {% for room in rooms %}
    {% for question in room.questions_set.all %}
    <div class="room-lists p-5 mt-5">

        <div class="d-flex justify-content-between">
            <a href="{% url 'profile' question.user.id %}" class="d-flex">
                <div class="profile profile--small">
                    <img
                    src="{{question.user.profile_pic.url}}"
                    />
                </div>
                <span>{{question.user.username}}</span>
            </a>
            <div class="p-2">
                <span>{{question.created|timesince}} ago</span>
            </div>
        </div>

        <div class="py-5 border-bottom border-white roomqes">
            <a href="{% url 'room' room.id %}"
            ><h1>{{room.name}}</h1></a
            >
            <br>
            <a href="room.html">


                <p>
                    {{question}}
                </p>

            </a>

        </div>


        <div class="answer">
            
            <div class="answernumber py-2">
               {{question.answers_set.all.count}} answers provided
            </div>

            {% for answer in question.answers_set.all %}

            <div class="ms-5 border-bottom border-white">
                <div class="d-flex justify-content-between">
                    <a href="{% url 'profile' answer.user.id %}" class="d-flex">
                        <div class="profile profile--small">
                            <img
                            src="{{answer.user.profile_pic.url}}"
                            />
                        </div>
                        <span>@{{answer.user.username}}</span>
                    </a>
                    <div class="p-2">
                        <span>{{answer.created|timesince}} ago</span>
                    </div>
                </div>
                <div class="py-2">
                    <p>
                        {{answer.body}}
                    </p>
                </div>
            </div>
            {% endfor %}



        </div>



        <div class="form-floating">
            <form action="{% url 'create-answer' question.id %}" method="POST">
              {% csrf_token %}
              <input name="body" style="height: 100px; width: 100%;" placeholder="Write your message here..." />
              <button
              id="submit-button"
              class="btn btn-primary my-2"
              type="submit"
              tabindex="120"
              autocomplete="off"
              >
              Post Your Answer
          </button>
      </form>
  </div>





  <div class="d-flex justify-content-between pt-3 ">
    <a href="room.html" class=""> 5 Joined </a>
    <p class="">{{room.title}}</p>
</div>

</div>
{% endfor %}

{% endfor %}




</div>
</div>