{% load static %}

{% include 'nav_bar.html' %}
<h1>Hosted by  <a href="{% url 'profile' room.host.id %}">{{ room.host.username }}</a></h1>
{% if request.user.profile == room.host %}
<a href="{% url 'update-room' room.id %}"><h1>Update Room</h1></a>
<a href="{% url 'delete-room' room.id %}"><h1>Delete Room</h1></a>
{% endif %}
<h1>Add Question</h1>
<h1><a href="{% url 'update-room' room.id %}">Update Room</a></h1>

<form action="{% url 'create-room-question' room.id %}" method="POST">
    {% csrf_token %}
    {{ question_form.as_p }}
    <input type="submit" value="Create Question">
</form>
<h1>{{room}}</h1>
{% for question in room.questions_set.all %}
<h3>Question by <a href="{% url 'profile' question.user.id %}">{{ question.user.username }}</a></h3>
{% if request.user.profile == question.user %}
<a href="{% url 'update-question' question.id %}">Update question</a>
<a href="{% url 'delete-question' question.id %}">Delete question</a>
{% endif %}
<h3>{{question}}</h3>
{% for answer in question.answers_set.all %}
<p>Answered by <a href="{% url 'profile' answer.user.id %}">{{ answer.responder.username }}</a></p>
<ul>
    <li><p>{{answer}} 
        {% if request.user.profile == answer.responder %}
        <a href="{% url 'update-answer' answer.id %}">Update Answer</a>
        <a href="{% url 'delete-answer' answer.id %}">Delete Answer</a> 
        {% endif %}
    </p>
    </li>
</ul>
{% endfor %}
{% if request.user.is_authenticated %}
<h1>Answer Form</h1>

<div class="form-floating">
    <form action="{% url 'create-answer' question.id %}" method="POST">
      {% csrf_token %}
      <input name="body" style="height: 100px; width: 100%;" placeholder="Write your message here..." />
      <button
      id="submit-button"
      class="btn btn-primary my-2"
      type="submit"
      tabindex="120"
      autocomplete="off"
      >
      Post Your Answer
  </button>
</form>
{% endif %}
<hr>
{% endfor %}
   </body>
</html>