 <div class="topic col-sm-12 col-lg-3 room-box p-3">
    <div class="topics-head my-5 text-center">
        <h2>Browse Topics</h2>
        <form class="">
            <label>
                <input name="q" 
                class="search"
                placeholder="Search for rooms..."
                />
            </label>
        </form>
    </div>
    <ul class="mx-5 list-unstyled">
        <li class="my-5">
            <a
            href="{% url 'discussions' %}"
            class="active d-flex justify-content-between"
            >
            <div>ALL</div>
            <div>
                <span>{{topics.count}}</span>
            </div>
        </a>
    </li>



    {% for topic in topics %}
    <li class="my-5">
        <a href="{% url 'discussions' %}?q={{topic.name}}">{{topic.name}}<span> {{topic.room_set.all.count}}</span></a>
    </li>
    {% endfor %}

    
</ul>
<a class="btn btn--link" href="#">
    More
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
    </svg>
</a>
</div>