* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: sans-serif;
  /* font-size: 3px; */
  /* width: 100%; */
}
header, nav {
  background-color: #222;

  padding: 0px 0px;
  position: fixed;
  z-index: 50;
}
a {
  color: white;
}
a:hover {
  text-decoration: underline;
}
.all {
  align-items: center;
}
.menu li {
  font-size: 16px;
  padding: 7px 0px;
  align-items: center;
}
.menu li a {
  display: block;
  text-decoration: none;
}
.logo a {
  font-size: 10px;
  font-size: 2vw;
  /* padding:20px 0; */
}
.button.secondary {
  border-bottom: 1px #444 solid;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-box {
  /* display: flex; */
  background: #005959;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  font-size: 1vw;
}
.search-btn {
  color: #006d6d;
  float: right;
  width: 60px;
  padding-left: 5px;
  size: 150px;
}

.section1 {
  height: 100vh !important;
}

/* mobile view  */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}
.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

.toggle {
  cursor: pointer;
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}
.bars::before,
.bars::after {
  background: #999;
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
  content: '';
}
.bars::before {
  top: 5px;
}

.bars::after {
  top: -5px;
}

/* tablet menu  */
@media all and (min-width: 468px) {
  .menu {
    justify-content: space-between;
  }
  .logo {
    flex: 1;
  }
  .search-box {
    display: none;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .button.secondary {
    border: 0;
  }
  .button a {
    text-decoration: none;
    padding: 7px 15px;
    background: teal;
    border: 1px solid rgb(13, 155, 155);
    border-radius: 50em;
  }
  .button.secondary a {
    background: transparent;
    color: white;
  }
  .button a:hover {
    transition: all 0.25s;
  }
  .button:not(.secondary) a:hover {
    background-color: #006d6d;
    border-color: #005959;
    color: white;
  }
}
@media all and (min-width: 760px) {
  .menu {
    display: flex;
    justify-content: space-between;
  }
  .search-box {
    display: block;
  }
  .menu li a {
    /* font-size: 20px; */
    font-size: 1vw;
    /* width: 100vw; */
  }
  .item {
    display: inline-block;

    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
    font-size: 1vw;
  }

  .item {
    order: 1;
  }
  .button {
    order: 2;
  }

  /* .menu li{
      padding:15px 10px
  } */
  .menu li.button {
    padding-right: 0;
  }
}

.section1 {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url(../images/section.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-bottom: 30px; */
}
.section-text h1 {
  color: white;
  font-size: 2.2rem;
  letter-spacing: 1px;
}
.section-text h3 {
  color: white;
  /* width: 50%; */
  font-size: 1rem;
  line-height: 25px;
}
.section1 a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 15px 30px;
  background-color: white;
  font-weight: 600;
  border-radius: 5px;
}
.section1 .btn {
  margin-top: 20px;
}

.section1 a.blue {
  background-color: blue;
  transition: 0.2s ease;
}
.section1 a.blue:hover {
  color: blue;
  background-color: white;
}

.section1 a.red {
  background-color: rgb(49, 155, 90);
}
.section1 a.red:hover {
  color: blue;
  background-color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
/* button */
.btn-primary {
  line-height: 50px;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  background: #2f4e71;
  border: none;
  border-bottom: 3px solid #243c58;
  display: inline-block;
  padding: 0 47px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* popular course */
.heading h1 {
  color: #273342;
  border-color: #f5d76e;
  display: flex;
  flex-direction: column;
  line-height: 63px;
  text-transform: uppercase;
  padding: 22px;
  border-left: 8px solid;
  font-size: 60px;
}

.search-bar {
  position: relative;
  /* z-index: 1; */
  top: 100px;
  width: 100%;
}

.about-section1 {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url(../static/images/pexels-julia-m-cameron-4145153.jpg);
  width: 100%;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-bottom: 30px; */
}

.about-img {
  height: 60vh;
  width: 100%;
}
.about-section {
  width: 100%;
  background-color: #fafafa !important;
}

.log {
  background-color: white;
  border-radius: 35px;
  box-shadow: 12px 12px 22px grey;
  min-height: 100vh;
}

.log a {
  color: blue;
}

.login-btn {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: #005959;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.login-btn:hover {
  background: white;
  border: 1px solid;
  color: black;
}

.logo-div {
  width: 20%;
  height: auto;
}


.rprofile {
  margin-top: 5%!important;

}
.accountedit{
  margin-top: 10%!important;

}

input[type=text],
input[type=email],
input[type=file],
input[type=number],
input[type=password],
textarea {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    text-align: left;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 8px 0;
}
/* discusion room *