{% extends 'main.html' %}
{% load static %}
{% block content %}

        <section class="search-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <form action="">
                            <div class="p-1 bg-light shadow-sm">
                                <div class="input-group">
                                    <input
                                        type="search"
                                        placeholder="search for courses"
                                        class="form-control"
                                    />
                                    <div class="input-group-append">
                                        <!-- Example single danger button -->
                                        <div class="btn-group">
                                            <button
                                                type="button"
                                                class="btn btn-outline-secondary dropdown-toggle"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false"
                                            >
                                                Action
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a
                                                        class="dropdown-item"
                                                        href="#"
                                                        >courses1</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        class="dropdown-item"
                                                        href="#"
                                                        >courses1</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        class="dropdown-item"
                                                        href="#"
                                                        >courses1</a
                                                    >
                                                </li>
                                                <li>
                                                    <hr
                                                        class="dropdown-divider"
                                                    />
                                                </li>
                                                <li>
                                                    <a
                                                        class="dropdown-item"
                                                        href="#"
                                                        >course</a
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div class="input-group-append">
                                                <button
                                                    type="submit"
                                                    class="btn btn-link"
                                                >
                                                    <i
                                                        class="fas fa-search"
                                                    ></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- course section starts -->

        <section class="bg-light pt-5">
            <div class="pt-5">
                <div class="heading p-5">
                    <h1>
                        <span style="font-size: 30px">popular </span>Courses
                    </h1>
                </div>

                <div class="container-fluid pt-3">
                    <div class="row">
                        <div class="col-lg-3 pb-5">
                            <!-- card -->
                            <div class="card ho">
                                <!-- card image -->
                                <div class="view overlay">
                                    <img
                                        class="card-img-top"
                                        src="./img/pexels-julia-m-cameron-4145153.jpg"
                                        alt=""
                                    />
                                    <a href="#">
                                        <div
                                            class="mask rgba-white-slight"
                                        ></div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">title</h4>
                                    <p class="card-text">Lorem, ipsum dolor.</p>
                                    <div>
                                        <a href="#">
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                            >
                                                enroll
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                        </div>
                        <div class="col-lg-3 pb-5">
                            <!-- card -->
                            <div class="card ho">
                                <!-- card image -->
                                <div class="view overlay">
                                    <img
                                        class="card-img-top"
                                        src="./img/pexels-julia-m-cameron-4145153.jpg"
                                        alt=""
                                    />
                                    <a href="#">
                                        <div
                                            class="mask rgba-white-slight"
                                        ></div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">title</h4>
                                    <p class="card-text">Lorem, ipsum dolor.</p>
                                    <div>
                                        <a href="#">
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                            >
                                                enroll
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                        </div>
                        <div class="col-lg-3 pb-5">
                            <!-- card -->
                            <div class="card ho">
                                <!-- card image -->
                                <div class="view overlay">
                                    <img
                                        class="card-img-top"
                                        src="./img/pexels-julia-m-cameron-4145153.jpg"
                                        alt=""
                                    />
                                    <a href="#">
                                        <div
                                            class="mask rgba-white-slight"
                                        ></div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">title</h4>
                                    <p class="card-text">Lorem, ipsum dolor.</p>
                                    <div>
                                        <a href="#">
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                            >
                                                enroll
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                        </div>
                        <div class="col-lg-3 pb-5">
                            <!-- card -->
                            <div class="card ho">
                                <!-- card image -->
                                <div class="view overlay">
                                    <img
                                        class="card-img-top"
                                        src="./img/pexels-julia-m-cameron-4145153.jpg"
                                        alt=""
                                    />
                                    <a href="#">
                                        <div
                                            class="mask rgba-white-slight"
                                        ></div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">title</h4>
                                    <p class="card-text">Lorem, ipsum dolor.</p>
                                    <div>
                                        <a href="#">
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                            >
                                                enroll
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                        </div>
                        <div class="col-lg-3 pb-5">
                            <!-- card -->
                            <div class="card ho">
                                <!-- card image -->
                                <div class="view overlay">
                                    <img
                                        class="card-img-top"
                                        src="./img/pexels-julia-m-cameron-4145153.jpg"
                                        alt=""
                                    />
                                    <a href="#">
                                        <div
                                            class="mask rgba-white-slight"
                                        ></div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">title</h4>
                                    <p class="card-text">Lorem, ipsum dolor.</p>
                                    <div>
                                        <a href="#">
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                            >
                                                enroll
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                        </div>
                        <div class="col-lg-3 pb-5">
                            <!-- card -->
                            <div class="card ho">
                                <!-- card image -->
                                <div class="view overlay">
                                    <img
                                        class="card-img-top"
                                        src="./img/pexels-julia-m-cameron-4145153.jpg"
                                        alt=""
                                    />
                                    <a href="#">
                                        <div
                                            class="mask rgba-white-slight"
                                        ></div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">title</h4>
                                    <p class="card-text">Lorem, ipsum dolor.</p>
                                    <div>
                                        <a href="#">
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                            >
                                                enroll
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                        </div>
                        <div class="col-lg-3 pb-5">
                            <!-- card -->
                            <div class="card ho">
                                <!-- card image -->
                                <div class="view overlay">
                                    <img
                                        class="card-img-top"
                                        src="./img/pexels-julia-m-cameron-4145153.jpg"
                                        alt=""
                                    />
                                    <a href="#">
                                        <div
                                            class="mask rgba-white-slight"
                                        ></div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">title</h4>
                                    <p class="card-text">Lorem, ipsum dolor.</p>
                                    <div>
                                        <a href="#">
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                            >
                                                enroll
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                        </div>
                        <div class="col-lg-3 pb-5">
                            <!-- card -->
                            <div class="card ho">
                                <!-- card image -->
                                <div class="view overlay">
                                    <img
                                        class="card-img-top"
                                        src="./img/pexels-julia-m-cameron-4145153.jpg"
                                        alt=""
                                    />
                                    <a href="#">
                                        <div
                                            class="mask rgba-white-slight"
                                        ></div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">title</h4>
                                    <p class="card-text">Lorem, ipsum dolor.</p>
                                    <div>
                                        <a href="#">
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                            >
                                                enroll
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-center pb-4">
                <a href="#" class="btn btn-primary btn-lg" role="button"
                    >View all Courses</a
                >
            </p>
        </section>
        <!-- course section ends -->

    {% endblock %}

        