<!DOCTYPE html>
<html lang="en">
    <head>
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
            />

            <title>room</title>
            <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            />

            <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
                crossorigin="anonymous"
            />
            <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
            />
            <link rel="stylesheet" href="./style/style.css" />
            <link rel="stylesheet" href="./style/styleroom.css" />
        </head>
    </head>
    <body>
        <header class="container-fluid nav-section">
            <div class="row all">
                <div class="logo-div col-3">
                    <a href="./index.html"
                        ><img src="./img/2-removebg-preview.png" alt=""
                    /></a>
                </div>
        
                <div class="col-9 list_items">
                    <ul class="menu">
                        <li class="item">
                            <div class="search">
                                <div>
                                    <input
                                        class="search-box"
                                        type="search"
                                        placeholder="search here"
                                    />
                                </div>
                                <div>
                                    <a class="search-btn" href="#">
                                        <i
                                            class="fa fa-search"
                                            aria-hidden="true"
                                        ></i>
                                    </a>
                                </div>
                            </div>
                        </li>
        
                        <li class="item"><a href="./index.html">HOME</a></li>
                        <li class="item"><a href="./about.html">ABOUT</a></li>
                        <li class="item">
                            <a href="./roomindex.html">DISCUSION</a>
                        </li>
                        <li class="item"><a href="./couse.html">COURSE</a></li>
                        <li class="item"><a href="#">TEACHERS</a></li>
                        <li class="item"> 
                            <div class="header-nav d-flex">
                                <div class="header__user">
                                    <a href="profile.html">
                                        <div class="profile profile--small active">
                                            <img
                                            src="./profile-1524859358747-2fed3690d7a4.jfif"
                                            />
                                        </div>
                                        <p>user name <br /><span>@username</span></p>
                                    </a>
                                </div>                                                           
                            <div class="dropdown bg-dark">
                                        <button
                                            class="btn btn-dark dropdown-toggle"
                                            id="dropdownMenuButton1"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false"
                                        ></button>
                                        <ul
                                            class="dropdown-menu bg-dark"
                                            aria-labelledby="dropdownMenuButton1"
                                        >
                                            <li>
                                                <a
                                                    class="dropdown-item"
                                                    href="./editprofile.html"
                                                    >Edit Profile</a
                                                >
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="./login.html"
                                                    >Logout</a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                        </li>
                        <li class="toggle">
                            <a href="#"><span class="bars"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>



<section> 
    <br>
    <br>
    <br>
    <br>

</section>

        <section class="bg-white pt-5 mt-5  roomsec">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="accountedit">
                    <div class="col-8 room  mt-5">
                        <div class="m-5 text-center">
                            <h1 class="editp">Edit Profile</h1>
                        </div>
                        <form class="form m-3" action="#">
                            <div class="m-2">
                                <label for="profilep">profile pic</label>
                                <br />
                                <input
                                    id="profilep"
                                    name="profilep"
                                    type="file"
                                    class="profilep p-3"
                                />
                            </div>

                            <div class="my-5">
                                <label for="name">Username</label>
                                <br />
                                <input
                                    id="name"
                                    name="name"
                                    type="text"
                                    placeholder="full Name"
                                    class="fw p-3"
                                />
                            </div>

                            <div class="mb-5">
                                <label for="email">Email</label>
                                <br />
                                <input
                                    id="email"
                                    name="email"
                                    type="text"
                                    placeholder="username@email.com"
                                    class="fw p-3"
                                />
                            </div>

                            <div class="mb-5">
                                <label for="bio">Bio</label>
                                <br />
                                <textarea
                                    name="bio"
                                    id="bio"
                                    placeholder="write your bio here"
                                    class="fw p-3"
                                ></textarea>
                            </div>
                            <div
                                class="gap-2 d-flex justify-content-end border-top border-white"
                            >
                                <a
                                    class="btn cancel my-3 pt-3 text-white"
                                    href="./profile.html"
                                    role="button"
                                    >cancel</a
                                >
                                <div>
                                    <button
                                        class="btn m-3 px-5 text-white"
                                        type="submit"
                                    >
                                        update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"
        ></script>
    </body>
</html>